@charset "utf-8";
body 
{
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #FFF;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #936;
	/*text-decoration: none;*/
}

/* ~~ this fixed width container surrounds the other divs ~~ */
.container 
{
	width: 960px;
	background-color: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header 
{
	background-color: white;
}

.content {

	padding: 10px 0;
}

/* ~~ The footer ~~ */
.footer {
	/*padding: 10px 0;*/
	background-color:#EEE;
	font-size:10px;
	width:100%;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

#logo
{
	display:block;
	width:180px; 
	height:90px;
	margin-top:10px;
	margin-right:10px;
}

.headerText
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:50px;
	color:black;
	text-decoration:none;
}

.vAlignMiddle
{
	vertical-align:middle;
}

.vAlignBottom
{
	vertical-align:bottom;
}

.vAlign
{
	display:table-cell;
}

.collapsible
{
	display:none;
}

.smallText
{
	font-size:10px;
	text-decoration:underline;
	margin-left:20px;
}

.readingText
{
	width:100%;
	height:500px;
	border-style:none;
	background-color:#FFFFCC;
}

textarea
{
	resize:none;
}

.hCenter
{
	width:940px;
	margin: 0 auto;
	text-align:center;
}

.textControl
{
	background-color:#D2FAD5;
	width:550px;
	margin-top:2px;
}

.controlBackgroundColor
{
	background-color:#D2FAD5;
}

.titleWidth
{
	width:190px;
}

.highlight
{
	background-color:#000000;
	color:#FFFFFF;
}

.cookieMessage
{
	background-color:#666;
	color:#fff;
	font-size:12px;
}

.showHide
{
	font-size:10px;
	color:blue;
	text-decoration:underline;
}

.noTextDecoration
{
	text-decoration:none;
}

.buttonWidth
{
	width:175px;
}

.menuBar
{
	background-color:#CCC;
	height:30px;
	margin-top:5px;
}

.rightMenu
{
	float:right;
}

.topMenu
{
	list-style-type:none;
}

.topMenu li
{
	float:left;
	position:relative;
	padding:5px 5px 0px 5px;
}

.topMenu li a
{
	text-decoration:none;
	color:black;
}

form 
{
    margin:0
}
form label 
{
	display:block;
}

form input[type="text"], form textarea 
{
	box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
	border:1px solid #191919;
}
form input[type="text"]:focus, form textarea:focus 
{
    border-color:#191919;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none
}

form input[type="text"][disabled], form textarea[disabled] 
{
    background:#fff
}

form input[type="text"].error, form textarea.error 
{
    background:#e6e6e6;
    border-color:#c0392b
}

fieldset 
{
    border:0px;
    margin:0;
    padding:0
}

.required 
{
    color:#e9266d
}

#success, #error 
{
    display:none
}

#success span, #error span 
{
    display:block;
}

#success span p, #error span p 
{
    margin-top:6em
}

#success span p, #error span p 
{
  color:#c0392b;
}

.subMenu
{
	display:none;
	background-color:#CCC;
	list-style-type:none;
	position:absolute;
	z-index: 100;
}

.subMenu li a:hover
{
	background-color:#DDD;
}

.informationDisplay
{
	display:none;
	height:310px;
	width:700px;
	background-color:#CCC;
	position:absolute;
	left:-500px;
	z-index:100;
}

.bookDetails
{
	font-size:12px;
	list-style-type:none;
}